@import '../variables.scss', '../mixins.scss';
footer{
   padding: 20px;
   background-color: $default-color-black;
   border-top: 2px solid $default-color-aqua;
   color: $default-color-aqua;
   h3{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $font-lighter;
      .icon_footer{
         width: 20px;
         margin-right: 6px;
      }
      span{
         font-weight: $font-normal;
      }
   }
}