@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import 'variables','mixins';
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: $font-stack;
}

html,
body{
   height: 100%;
   background-color: $default-color-black-opaco;
   overflow-x: hidden;
}

.container{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 2%;
}

header{
   background-color: $default-color-black;
   border-bottom: 2px solid $default-color-aqua;
   position: relative;
   padding: 10px 0;
   .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
         h1{
            font-size: 30px;
            .icon_menu{
               margin-right: 10px;
            }
            a{
               display: flex;
               align-items: center;
               font-weight: $font-normal;
               text-decoration: none;
               color: $default-color-aqua;
               span{
                  font-weight: $font-bold;
               }
            }
         }
      }
      form.search{
         width: 50%;
         display: flex;
         justify-content: right;
         align-items: center;
         position: relative;
         gap: .5rem;

         input[type=text],
         button{
            padding: 5px 10px;
         }

         input[type=text]{
            width: 100%;
            max-width: 350px;
            outline: none;
            color: $default-color-aqua-opaco;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $default-color-aqua;
            &::placeholder{
               color: $default-color-aqua;
            }
         }
         button{
            border: 1px solid $default-color-aqua;
            color: $default-color-aqua;
            background-color: $default-color-black;
            cursor: pointer;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            transition: .3s;
            &:hover{
               color: $default-color-black;
               background-color: $default-color-aqua;
            }
         }
      }
   }
}

