//font variable
$font-stack: 'Open Sans', sans-serif;
$font-lighter: 300;
$font-normal: 400;
$font-bold: 700;
//
//default colors
$default-color-black: black;
$default-color-black-opaco: rgb(32, 32, 32);
$default-color-aqua: aqua;
$default-color-aqua-opaco: rgb(0, 160, 160);